<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuist.bookMarket.mapper.CombineMapper">
    <select id="selectByBookId" resultType="java.util.HashMap">
        SELECT * FROM  detail WHERE  BOOK_ID = #{BOOK_ID}
    </select>
    
    <insert id="insertDetail">
        INSERT INTO detail (BOOK_ID,ABSTRACT,OLD,BIGIMAGE,DAMAGE)
        VALUES (#{BOOK_ID},#{ABSTRACT},#{OLD},#{BIGIMAGE},#{DAMAGE})
    </insert>
    
    <select id="selectBookById" resultType="java.util.HashMap">
        SELECT
            BOOK_ID,
            STOCK
        FROM
            schoolbook
        WHERE
            BOOK_ID = #{BOOK_ID} AND STOCK>0
        UNION
            SELECT
                BOOK_ID,
                STOCK
            FROM
                reference
            WHERE
                BOOK_ID = #{BOOK_ID} AND STOCK>0
            UNION
                SELECT
                    BOOK_ID,
                    STOCK
                FROM
                    novel
                WHERE
                    BOOK_ID = #{BOOK_ID} AND STOCK>0
    </select>
    
    <update id="updateDetailById">
        UPDATE detail
        <set>
            <if test="OLD!=null and OLD!=''">
                OLD=#{OLD},
            </if>
            <if test="DAMAGE!=null and DAMAGE!=''">
                DAMAGE=#{DAMAGE},
            </if>
            <if test="ABSTRACT!=null and ABSTRACT!=''">
                ABSTRACT=#{ABSTRACT},
            </if>
            <if test="BIGIMAGE!=null and BIGIMAGE!=''">
                BIGIMAGE=#{BIGIMAGE},
            </if>
            BOOK_ID=#{BOOK_ID}
        </set>
        <where>
            BOOK_ID=#{BOOK_ID}
        </where>
    </update>

    <delete id="deleteDetailById">
        DELETE FROM detail WHERE BOOK_ID=#{BOOK_ID}
    </delete>

    
</mapper>