<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuist.bookMarket.mapper.OrderMapper">

<insert id="batchImportOrder">
        INSERT INTO orderCenter (ORDER_ID,BOOK_ID,BOOK_NAME,NUM,PRICE,AMOUNT,CUSTOM_ID,CUSTOM,CUSTOM_MOBILE,SELLER_ID,SELLER,SELLER_MOBILE,CREATE_TIME,END_TIME,ORDER_STATE)
        VALUES
    <foreach collection="list" item="item" index="index" open="" close="" separator=",">
(#{item.ORDER_ID},#{item.BOOK_ID},#{item.BOOK_NAME},#{item.NUM},#{item.PRICE},#{item.AMOUNT},#{item.CUSTOM_ID},#{item.CUSTOM},#{item.CUSTOM_MOBILE},#{item.SELLER_ID},#{item.SELLER},#{item.SELLER_MOBILE},#{item.CREATE_TIME},#{item.END_TIME},#{item.ORDER_STATE})
    </foreach>
    ON DUPLICATE KEY UPDATE
    ORDER_STATE=VALUES (ORDER_STATE)
</insert>




</mapper>