<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuist.bookMarket.mapper.ReferenceMapper">
  <select id="selectReference" resultType="java.util.HashMap">
    SELECT * FROM reference
    <where>
      STOCK>0
      <if test="BOOK_ID!=null and BOOK_ID!=''">
        BOOK_ID = #{BOOK_ID}
      </if>
      <if test="BOOK_NAME != null and BOOK_NAME != ''">
        AND BOOK_NAME LIKE CONCAT('%',#{BOOK_NAME},'%')
      </if>
      <if test="TYPE!=null and TYPY!='' and TYPE !='全部'">
        AND TYPE = #{TYPE}
      </if>
      <if test="PRESS!=null and PRESS!='' and PRESS !='全部'">
        AND PRESS = #{PRESS}
      </if>
    </where>
  </select>
  <insert id="insertReference">
    INSERT INTO reference (BOOK_ID,BOOK_NAME,TYPE,SELLER,AUTHOR,PRESS,PRICE,IMAGE,SELLER_ID,STOCK)
    VALUES (#{BOOK_ID},#{BOOK_NAME},#{TYPE},#{SELLER},#{AUTHOR},#{PRESS},#{PRICE},#{IMAGE},#{SELLER_ID},#{STOCK})
  </insert>

  <select id="selectBookAndDetailBySellerId" resultType="java.util.HashMap">
    SELECT * FROM reference,detail WHERE SELLER_ID = #{SELLER_ID} AND reference.BOOK_ID=detail.BOOK_ID
  </select>

  <select id="selectBookAndDetailById" resultType="java.util.HashMap">
    SELECT * FROM reference,detail WHERE reference.BOOK_ID = #{BOOK_ID} AND reference.BOOK_ID=detail.BOOK_ID AND STOCK>0
  </select>

  <update id="updateById">
    UPDATE reference
    <set>
      <if test="BOOK_NAME!=null and BOOK_NAME!=''">
        BOOK_NAME=#{BOOK_NAME}
      </if>
      <if test="TYPE!=null and TYPE!=''">
        TYPE=#{TYPE}
      </if>
      <if test="AUTHOR!=null and AUTHOR!=''">
        AUTHOR=#{AUTHOR}
      </if>
      <if test="PRESS!=null and PRESS!=''">
        PRESS=#{PRESS}
      </if>
      <if test="PRICE!=null and PRICE!=''">
        PRICE=#{PRICE}
      </if>
      <if test="STOCK!=null">
        STOCK=#{STOCK}
      </if>
      <if test="IMAGE!=null and IMAGE!=''">
        IMAGE=#{IMAGE}
      </if>
    </set>
    <where>
      BOOK_ID=#{BOOK_ID}
    </where>
  </update>

</mapper>