body {
    /*background: #F2F2F2;*/
    overflow-x: hidden;
    background: #0000ff59;
    padding: 0px;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}
.mynav ul {
    float: left;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.mynav li:not(:last-child) {
    margin-right: 20px;
}

.mynav a {
    display: block;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 7px 15px;
}

.underline {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
}

.mynav a,
.target {
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.userName{
    float: right;
    font-size: 15px;
    padding: 7px 5px ;
    color: white;
}
.logout{
    float: right;
    padding: 5px 10px ;
}