
html { overflow-x:hidden; }
html { overflow-y:hidden; }

.tabs-title {
    font-size: 18px;
}

ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
     background:#0E2D5F;

 }

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
/* 鼠标移动到选项上修改背景颜色 */
li a:hover {
    background-color: #555;
    color: white;
}

