<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>管理中心</title>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="./css/administrstor.css"/>
    <script type="text/javascript" src="./easyui/jquery.min.js"></script>
    <script type="text/javascript" src="./easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="./js/administrstor.js"></script>
</head>
<body class="easyui-layout" fit="true">
    <div id="paramTab" class="easyui-tabs" style="width:100%;height:100%;overflow:hidden;">
        <div title="参数维护" style="display:none;overflow: hidden" >
            <iframe name="paramMain" id="paramMain" frameborder="no" scrolling="yes" style="width: 100%;height: 100%;"></iframe>
        </div>
        <div title="用户管理" style="overflow:hidden;padding:20px;display:none;">
            <iframe name="userManager" id="userManager" frameborder="no" scrolling="yes" style="width: 100%;height: 100%;"></iframe>
        </div>
        <div title="功能权限维护" style="padding:20px;display:none;">
            tab3
        </div>
    </div>
</body>
</html>