<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="./css/baseInfo.css"/>
    <link rel="stylesheet" type="text/css" href="./css/common.css"/>
    <script type="text/javascript" src="./easyui/jquery.min.js"></script>
    <script type="text/javascript" src="./easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./js/baseInfo.js"></script>
    <title>Title</title>
</head>
<body style="padding: 30px 30px 30px 30px">
    <div id="userInfo" style="width: 100%;height: auto">
        <h3>个人信息</h3>
        <table id="userDatagrid"  style="width: 100%;border: 0px">
            <tr>
                <td width="100px">我的ID：</td>
                <td id="userId"></td>
                <td width="100px"></td>
            </tr>
            <tr>
                <td width="100px">用户名：</td>
                <td id="username" ></td>
                <td width="100px"><a href="javascript:void (0)">修改密码</a></td>
            </tr>
            <tr>
                <td width="100px">昵称：</td>
                <td id="name" ></td>
                <td width="100px"></td>
            </tr>
            <tr>
                <td width="100px">我的角色：</td>
                <td id="userRole" ></td>
                <td width="100px"></td>
            </tr>
            <tr>
                <td width="100px">手机：</td>
                <td id="mobile"></td>
                <td width="100px"><a href="javascript:void (0)">修改手机号</a></td>
            </tr>
        </table>
        <div>

        </div>
    </div>
</body>
</html>