<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="./css/home.css"/>
    <script type="text/javascript" src="./easyui/jquery.min.js"></script>
    <script type="text/javascript" src="./easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="./js/home.js"></script>

    <title>Nuist旧书网</title>


</head>
<body style="margin: 0px">
    <!--<div style="text-align: center">-->
        <!--<img src="/images/upground3.jpg" style="width: 50%;height: auto;"/>-->
    <!--</div>-->
    <div class="menu10">
        <div class="center10" style="text-align: center">
            <a style="float: left;padding:0px 0px 0px 0px;">
                <img src="/book_market/images/nuist.jpg" style="width: 46px;height: 46px"/>
            </a>
            <a href="/book_market/index" target="homeMain"><font size="4px">书  市</font></a>
            <a href="/book_market/userCenter" target="homeMain"><font size="4px">个人中心</font></a>
            <a href="/book_market/administrstor" target="homeMain"><font size="4px">管理员</font></a>
            <a id="logout" href="/book_market/logout" style="float: right;padding:0px 0px 0px 0px;width: 46px;height: 46px">
                <img id="logout" src="/book_market/images/login-out.png" style="width: 46px;height: 46px;" />
            </a>
            <a id="username" href="#" style="float: right;padding-right: 0px;padding-left: 0px;"></a>

        </div>
        <div class="clear"></div>
    </div>
    <div id="mainPage" style="overflow: hidden" >
        <iframe name="homeMain" id="homeMain" src="/book_market/index" frameborder="true" scrolling="yes" style="width: 100%;height: 100%;"></iframe>
    </div>
</body>
</html>