<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>书市</title>

    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css" />
    <link rel='stylesheet prefetch' href='css/normalize.css' />
    <link rel="stylesheet" href="css/leftNavigation.css" media="screen" type="text/css" />
    <script type="text/javascript" src="./easyui/jquery.min.js"></script>
    <script type="text/javascript" src="./easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
</head>

<body style="width: 100%;height: 100%;overflow: hidden;">

    <div class="container">
        <div style="background: white;width: 100%;height: 100%">
            <div style="width:15%;float: left">
                <nav>
                    <ul class="mcd-menu">
                        <li> <a id="schoolBookA" href="/book_market/schoolbook" target="mainPage" class="active"> <i class="fa fa-book"></i> <strong>教科书籍</strong></a> </li>
                        <li> <a id="referenceA" href="/book_market/reference" target="mainPage"> <i class="fa fa-book"></i> <strong>拓展读物</strong></a> </li>
                        <li> <a id="novelA" href="/book_market/novel" target="mainPage"> <i class="fa fa-book"></i> <strong>小说、文学</strong></a> </li>
                    </ul>
                </nav>
            </div>

            <div id="iframeDiv" style="float: left;width: 80%;">
                <iframe name="mainPage" id="mainPage" src="/book_market/schoolbook" frameborder="true" scrolling="yes" style="width: 100%;height: 100%;"></iframe>
            </div>
        </div>


    </div>

</body>
</html>