<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
    <script type="text/javascript" src="./easyui/jquery.min.js"></script>
    <script type="text/javascript" src="./easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>

    <style>
        .tabs-title {
            font-size: 18px;
        }
    </style>

</head>
<body class="easyui-layout" fit="true">
    <div id="indexTab" class="easyui-tabs" style="width:100%;height:100%;">
        <div id="tabs1" title="教课书籍" style="display:none;overflow: hidden;width: 1215px" >
            <iframe name="schbook" id="schbook" frameborder="no" scrolling="no" style="width: 100%;height: 100%;overflow: hidden"></iframe>
        </div>
        <div title="拓展读物" style="overflow:hidden;display:none;">
            <iframe name="reference" id="reference" frameborder="no" scrolling="no" style="width: 100%;height: 100%;overflow: hidden"></iframe>
        </div>
        <div title="名著小说" style="display:none;overflow:hidden;">
            <iframe name="novel" id="novel" frameborder="no" scrolling="no" style="width: 100%;height: 100%;overflow: hidden"></iframe>
        </div>
    </div>
</body>
</html>