<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="./css/common.css"/>
    <script type="text/javascript" src="./easyui/jquery.min.js"></script>
    <script type="text/javascript" src="./easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="./js/reference.js"></script>
    <title>reference</title>

</head>
<body style="margin: 0px">
    <div id="queryParam" style="width:100%;padding: 15px 15px">
        <label>类型:</label><select id="type" class="easyui-combobox " style="width:150px;height:32px;"></select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>出版社:</label><input id="press" class="easyui-combobox" style="width:150px;height:32px;"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>书名:</label><input id="bookName" class="easyui-textbox" style="width:150px;height:32px;"/>

        <a href="javascript:void(0)" data-options="iconCls:'icon-search'" class="easyui-linkbutton" onclick="queryReference()"> </a>
    </div>
    <div id="bookPanel" class="easyui-panel" title="拓展书籍" data-options="heigth:'100%'" style="background:red;width:100%;height:100%;padding-top:10px;padding-left:15px;overflow-x: hidden;">
        <div id="referenceDiv" style="width: 100%;height:100%;text-align: center;">
        </div>
    </div>
    <div id="pagination" style="background:#efefef;border:1px solid #ccc;width: 100%;float: right;bottom: 0px;"></div>
    <div id="detail" class="easyui-dialog" title="详情" data-options="" style="width:600px;height:350px;padding:10px">
        <div style="width: 270px;height:300px;float: left">
            <img id="bigImg" src="" style="width: 260px;height: 270px;" />
        </div>
        <div style="width: 270px;height:300px;float: left;">
            <b>新旧度：</b><span id="old"></span><br/><br/>
            <b>破损：</b><span id="damage"></span><br/><br/>
            <b>详细描述：</b><span id="abstract"></span>
        </div>
    </div>
</body>
</html>