<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="./css/shoppingCar.css"/>
    <link rel="stylesheet" type="text/css" href="./css/common.css"/>
    <script type="text/javascript" src="./easyui/jquery.min.js"></script>
    <script type="text/javascript" src="./easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="./js/shoppingCar.js"></script>
    <title>ShoppingCar</title>
    <style>
        .datagrid-toolbar{
            background: #F5F5F5;
            float:right;
            padding-right: 18px;
            position: absolute;
            bottom: 0px;
        }
        .datagrid-btable {
            width: 100%;
            color: #333;
            border-collapse: separate;
        }
    </style>
</head>
<body style="margin: 0px">
    <div style="width: 100%;height: 100%">
        <table id="shoppingCar" class="easyui-datagrid" title="购物车" data-options="singleSelect:false,collapsible:true,method:'get',toolbar:'#toolbar'">
            <thead>
            <tr>
                <th field="ck" checkbox="true"></th>
                <th data-options="field:'IMAGE',width:100,align:'center'">书图</th>
                <th data-options="field:'BOOK_ID',width:100,align:'center'">ID</th>
                <th data-options="field:'BOOK_NAME',width:100,align:'center'">书名</th>
                <th data-options="field:'COLLEGE',width:100,align:'center'">学院</th>
                <th data-options="field:'SPECIALTY',width:100,align:'center'">专业</th>
                <th data-options="field:'TYPE',width:100,align:'center'">拓展类型</th>
                <th data-options="field:'STYLE',width:100,align:'center'">名著小说类型</th>
                <th data-options="field:'OLD',width:100,align:'center'">新旧度</th>
                <th data-options="field:'DAMAGE',width:100,align:'center'">破损</th>
                <th data-options="field:'AUTHOR',width:100,align:'center'">作者</th>
                <th data-options="field:'PRESS',width:100,align:'center'">出版社</th>
                <th data-options="field:'SELLER',width:100,align:'center'">卖家</th>
                <th data-options="field:'SELLER_ID',width:100,align:'center'">卖家ID</th>
                <th data-options="field:'PRICE',width:100,align:'center'">单价</th>
                <th data-options="field:'ABSTRACT',width:100,align:'center'">描述</th>
                <th data-options="field:'NUM',width:100,align:'center'">数量</th>
                <th data-options="field:'amount',width:100,align:'center'">合计</th>
                <th data-options="field:'_operate',width:100,align:'center'">操作</th>
            </tr>
            </thead>
        </table>
        <div id="toolbar" style="width: 100%;text-align: right;">
            <span id="totalBookNum">共 0 本书</span>&nbsp;<b>合计：</b><span id="totalPrice">0元</span>
            &nbsp;<button id="button" onclick="buyBookNow()">立即购买</button>
            <button id="button" onclick="delFromCar()">移出购物车</button>&nbsp;&nbsp;
        </div>
    </div>
    <div id="detail" class="easyui-dialog" title="详情" data-options="" style="width:600px;height:350px;padding:10px">
        <div style="width: 270px;height:300px;float: left">
            <img id="bigImg" src="" style="width: 260px;" />
        </div>
        <div style="width: 270px;height:300px;float: left;">
            <b>新旧度：</b><span id="oldDetail"></span><br/><br/>
            <b>破损：</b><span id="damageDetail"></span><br/><br/>
            <b>详细描述：</b><span id="abstract"></span>
        </div>
    </div>


</body>
</html>