<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="./easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="./easyui/themes/icon.css"/>

    <script type="text/javascript" src="./easyui/jquery.min.js"></script>
    <script type="text/javascript" src="./easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./js/userCenter.js"></script>
    <title>Title</title>
</head>
<body class="easyui-layout" fit="true">
    <div id="userCenterTabs" class="easyui-tabs" style="width:100%;height:100%;">
        <div title="基本信息" style="display:none;overflow: hidden" >
            <iframe name="baseInfo" id="baseInfo" src="/book_market/baseInfo" frameborder="no" scrolling="no" style="width: 100%;height: 100%;overflow: hidden"></iframe>
        </div>
        <div title="我的小店" style="overflow:auto;padding:20px;display:none;">
            <iframe name="myStore" id="myStore" src="/book_market/myStore" frameborder="no" scrolling="no" style="width: 100%;height: 100%;overflow: hidden"></iframe>
        </div>
        <div title="购物车" style="padding:20px;display:none;">
            购物车
        </div>
    </div>
</body>
</html>